pipeline/ExportASCampaignDBDS.json
{
	"name": "ExportASCampaignDBDS",
	"properties": {
		"description": "Export apprenticeship Campaign Dashboard DataSets",
		"activities": [
			{
				"name": "GenerateRunId",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:30:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[GenerateRunId]"
				},
				"linkedServiceName": {
					"referenceName": "datamgmt_staging_dbconnectionstring",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "GenerateSaltKey",
				"description": "Generate Salt Key",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "GenerateRunId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[SaltKeyLogging]"
				},
				"linkedServiceName": {
					"referenceName": "datamgmt_staging_dbconnectionstring",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Registration Data",
				"description": "Export Registration Data ",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GenerateSaltKey",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select AID ,[L\\/NL],any_ASV,RegistrationDate,MonthNumber,Month,SaltKeyID from [ASData_PL].[DAS_Dashboard_Registration]",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "AID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "AID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "L\\/NL",
									"type": "Byte",
									"physicalType": "tinyint"
								},
								"sink": {
									"name": "L\\/NL",
									"type": "Byte"
								}
							},
							{
								"source": {
									"name": "any_ASV",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "any_ASV",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "RegistrationDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "RegistrationDate",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "MonthNumber",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "MonthNumber",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "Month",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Month",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "SaltKeyID",
									"type": "Int64",
									"physicalType": "bigint"
								},
								"sink": {
									"name": "SaltKeyID",
									"type": "Int64"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DestDataMart",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "Users",
							"SchemaName": "Stg"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DestDS_ASCampaignDB",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Reservation Data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GenerateSaltKey",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select Code, B4, any_B1, any_B2, any_B3, any_B5, any_B6, average_B7, average_B9, Name, Route, Level, SaltKeyID  from [ASData_PL].[DAS_Dashboard_Reservation]",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DestDataMart",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "Users",
							"SchemaName": "Stg"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DestDS_ASCampaignDB",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Reservation and Training Data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GenerateSaltKey",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select B1, B13, B2, B4, B5, ReservedFlag, B11, B16, B17, B26, approvedDate, ApprovedFlag, [Committed-ApprovedLag], Name, Route, Level, Min_C2, StartedFlag, ApprovedtoStartedLag, SaltKeyID\nfrom [ASData_PL].[DAS_Dashboard_ReservationAndTraining]",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DestDataMart",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "Users",
							"SchemaName": "Stg"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DestDS_ASCampaignDB",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Reservation and Commitment Data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GenerateSaltKey",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "\nselect \nB4,B1,CommitmentFlag,code,Any_B1,Any_B2,Any_B3,[Reserve-Commit Lag],Any_B5,Any_B6,Average_B7,Average_B9,Name,Route,Level,approvedDate,\n[Committed-ApprovedLag], Min_C2, ApprovedFlag, StartedFlag, ApprovedtoStartedLag, SaltKeyID\nfrom [ASData_PL].[DAS_Dashboard_ReservationAndCommitment]",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DestDataMart",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "Users",
							"SchemaName": "Stg"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DestDS_ASCampaignDB",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "CompleteLogging",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Registration Data",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Reservation Data",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Reservation and Training Data",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Reservation and Commitment Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "/*  Log The Status as Finish in Execution Results */\nUPDATE MGMT\n     SET FullJobStatus='Finish'\n\tfrom Mgmt.Log_Execution_Results Mgmt\n   WHERE LogId=(SELECT MAX(LogId)\n                  FROM Mgmt.Log_Execution_Results\n\t\t\t\t WHERE RunId=@{activity('GetRunId').output.firstRow.RunId})\n/* Log the End Time on Run Id */\n  UPDATE MGMT\n      SET EndDateTime=getdate()\n\t FROM Mgmt.Log_RunId Mgmt\n\tWHERE RunId=@{activity('GetRunId').output.firstRow.RunId}\n\nSELECT 'na'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DestDataMart",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "Users",
							"SchemaName": "Stg"
						}
					}
				}
			}
		],
		"concurrency": 1,
		"annotations": []
	}
}