pipeline/ImportModelDataToPL.json
{
	"name": "ImportModelDataToPL",
	"properties": {
		"description": "Import Model Data to PL",
		"activities": [
			{
				"name": "SetRunId",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "RunId",
					"value": {
						"value": "@pipeline().parameters.RunId",
						"type": "Expression"
					}
				}
			},
			{
				"name": "LogStartOfImport",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "SetRunId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "INSERT INTO Mgmt.Log_Execution_Results\n\t  (\n\t    RunId\n\t   ,StepNo\n\t   ,StoredProcedureName\n\t   ,ADFTaskType\n\t   ,StartDateTime\n\t   ,Execution_Status\n\t  )\n  SELECT \n        @{variables('RunId')}\n\t   ,'Step-5'\n\t   ,'NA'\n\t   ,'ImportCommitmentToDM'\n\t   ,getdate()\n\t   ,0\n\nSELECT 'N/A'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DestDataMart",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "Users",
							"SchemaName": "Stg"
						}
					}
				}
			}
		],
		"parameters": {
			"RunId": {
				"type": "string"
			},
			"MaxConcurrentConnections": {
				"type": "int"
			},
			"DIU": {
				"type": "int"
			}
		},
		"variables": {
			"SourceColumnList": {
				"type": "String"
			},
			"RunId": {
				"type": "String"
			},
			"AK1": {
				"type": "String"
			},
			"AK2": {
				"type": "String"
			}
		},
		"annotations": []
	}
}