pipeline/ImportAvmsCandidateToDataMart.json
{
	"name": "ImportAvmsCandidateToDataMart",
	"properties": {
		"activities": [
			{
				"name": "GetList",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "GenerateConfig",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "DELETE FROM Stg.Avms_CandidateEth\n\nSELECT ShortCode\nFROM Stg.CandidateConfig",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DestDataMart",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "Users",
							"SchemaName": "Stg"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetList').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "ImportCandidateToDataMart_1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "GenerateCopyActvity1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.01:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": true,
								"secureInput": true
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"additionalColumns": [
										{
											"name": "CAID",
											"value": {
												"value": "@activity('GenerateCopyActvity1').output.firstRow.CAID\n",
												"type": "Expression"
											}
										},
										{
											"name": "RunID",
											"value": {
												"value": "@pipeline().parameters.RunId",
												"type": "Expression"
											}
										}
									],
									"sqlReaderQuery": {
										"value": "Select CandidateId\nFrom dbo.Candidate\nWhere EthnicOrigin=@{item().ShortCode}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "AzureSqlSink",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "CandidateId",
												"type": "Int32"
											},
											"sink": {
												"name": "CandidateId",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "CAID"
											},
											"sink": {
												"name": "EID",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "RunID"
											},
											"sink": {
												"name": "RunId",
												"type": "Int64"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "SrcAvmsPlus",
									"type": "DatasetReference",
									"parameters": {
										"TableName": "Candidate",
										"SchemaName": "dbo"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DestDataMart",
									"type": "DatasetReference",
									"parameters": {
										"TableName": "Avms_CandidateEth",
										"SchemaName": "Stg"
									}
								}
							]
						},
						{
							"name": "GenerateCopyActvity1",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.01:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "DECLARE @CAID BIGINT\n\nEXECUTE @CAID= [dbo].[GenerateCopyActivityId] @{pipeline().parameters.RunId}, 'RAAv1'\n\nSELECT @CAID as CAID",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00"
								},
								"dataset": {
									"referenceName": "DestDataMart",
									"type": "DatasetReference",
									"parameters": {
										"TableName": "Users",
										"SchemaName": "Stg"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "GenerateConfig",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[GenerateConfig]",
					"storedProcedureParameters": {
						"Category": {
							"value": "Ethnicity",
							"type": "String"
						},
						"RunId": {
							"value": {
								"value": "@pipeline().parameters.RunId",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"SourceDb": {
							"value": "RAAv1",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "datamgmt_staging_dbconnectionstring",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"RunId": {
				"type": "int",
				"defaultValue": 1
			}
		},
		"annotations": []
	}
}