pipeline/ImportFAACandidateToDataMart.json
{
	"name": "ImportFAACandidateToDataMart",
	"properties": {
		"activities": [
			{
				"name": "GetList",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "GenerateConfig",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "DELETE FROM Stg.FAA_CandidateDetails\n\nSELECT ShortCode\n FROM Stg.CandidateConfig\nWHERE SourceDb='RAAv2'\n    AND Category='Ethnicity'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DestDataMart",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "Users",
							"SchemaName": "Stg"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "GenerateConfig",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "LogStartOfImport",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[GenerateConfig]",
					"storedProcedureParameters": {
						"Category": {
							"value": "Ethnicity",
							"type": "String"
						},
						"RunId": {
							"value": {
								"value": "@pipeline().parameters.RunId",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"SourceDb": {
							"value": "RAAv2",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "datamgmt_staging_dbconnectionstring",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetList').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "ImportCandidateToDataMart",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "GenerateCopyActvity",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.01:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": true,
								"secureInput": true
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "CosmosDbMongoDbApiSource",
									"additionalColumns": [
										{
											"name": "CAID",
											"value": {
												"value": "@activity('GenerateCopyActvity').output.firstRow.CAID\n",
												"type": "Expression"
											}
										},
										{
											"name": "RunID",
											"value": {
												"value": "@pipeline().parameters.RunId",
												"type": "Expression"
											}
										}
									],
									"batchSize": 100,
									"filter": {
										"value": "\n{\"MonitoringInformation.Ethnicity\":@{item().ShortCode}}\n",
										"type": "Expression"
									},
									"cursorMethods": {
										"project": "{\"_id\":1,\"LegacyCandidateId\":1}"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$['_id']['$binary']"
											},
											"sink": {
												"name": "CandidateId",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['LegacyCandidateId']"
											},
											"sink": {
												"name": "LegacyCandidateId",
												"type": "Int64"
											}
										},
										{
											"source": {
												"path": "$['CAID']"
											},
											"sink": {
												"name": "EID",
												"type": "Int64"
											}
										},
										{
											"source": {
												"path": "$['RunID']"
											},
											"sink": {
												"name": "RunID",
												"type": "Int64"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "SrcFAACosmos",
									"type": "DatasetReference",
									"parameters": {
										"CollectionName": "candidates"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DestDataMart",
									"type": "DatasetReference",
									"parameters": {
										"TableName": "FAA_CandidateDetails",
										"SchemaName": "Stg"
									}
								}
							]
						},
						{
							"name": "GenerateCopyActvity",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.01:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "DECLARE @CAID BIGINT\n\nEXECUTE @CAID= [dbo].[GenerateCopyActivityId] @{pipeline().parameters.RunId}, 'RAAv2','Eth'\n\nSELECT @CAID as CAID",
										"type": "Expression"
									},
									"queryTimeout": "01:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DestDataMart",
									"type": "DatasetReference",
									"parameters": {
										"TableName": "Users",
										"SchemaName": "Stg"
									}
								}
							}
						},
						{
							"name": "LogError",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "ImportCandidateToDataMart",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.00:30:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[InsertLogErrorDetails]",
								"storedProcedureParameters": {
									"ErrorMessage": {
										"value": {
											"value": "@{activity('ImportCandidateToDataMart').output.Error.message}",
											"type": "Expression"
										},
										"type": "String"
									},
									"RunId": {
										"value": {
											"value": "@{pipeline().parameters.RunId}",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"TaskType": {
										"value": "ImportFAACandidateEthToDM",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "datamgmt_staging_dbconnectionstring",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "LogStartOfImport",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "INSERT INTO Mgmt.Log_Execution_Results\n\t  (\n\t    RunId\n\t   ,StepNo\n\t   ,StoredProcedureName\n\t   ,ADFTaskType\n\t   ,StartDateTime\n\t   ,Execution_Status\n\t  )\n  SELECT \n        @{pipeline().parameters.RunId}\n\t   ,'Step-5'\n\t   ,'NA'\n\t   ,'ImportFAACandidateEthToDM'\n\t   ,getdate()\n\t   ,0\n\nSELECT 'N/A'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DestDataMart",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "Users",
							"SchemaName": "Stg"
						}
					}
				}
			}
		],
		"parameters": {
			"RunId": {
				"type": "int",
				"defaultValue": 1
			}
		},
		"annotations": []
	}
}