pipeline/ImportReservationToDM.json
{
	"name": "ImportReservationToDM",
	"properties": {
		"description": "Import Reservation to Datamart",
		"activities": [
			{
				"name": "SetRunId",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "RunId",
					"value": {
						"value": "@pipeline().parameters.RunId",
						"type": "Expression"
					}
				}
			},
			{
				"name": "LogStartOfImport",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "SetRunId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "INSERT INTO Mgmt.Log_Execution_Results\n\t  (\n\t    RunId\n\t   ,StepNo\n\t   ,StoredProcedureName\n\t   ,ADFTaskType\n\t   ,StartDateTime\n\t   ,Execution_Status\n\t  )\n  SELECT \n        @{variables('RunId')}\n\t   ,'Step-5'\n\t   ,'NA'\n\t   ,'ImportReservationToDM'\n\t   ,getdate()\n\t   ,0\n\nSELECT 'N/A'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DestDataMart",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "Users",
							"SchemaName": "Stg"
						}
					}
				}
			},
			{
				"name": "LogSuccessfulExecution",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "For Each Reservation Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:30:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "DECLARE @LogID int\n\n   SELECT @LogID=MAX(LogId) FROM Mgmt.Log_Execution_Results\n   WHERE ADFTaskType='ImportEmployerIncentivesToDM'\n     AND RunId=@{variables('RunId')}\n\nUPDATE Mgmt.Log_Execution_Results\n   SET Execution_Status=1\n      ,EndDateTime=getdate()\n\t  ,FullJobStatus='Pending'\n WHERE LogId=@LogID\n   AND RunID=@{variables('RunId')}\n\nSELECT 1",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DestDataMart",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "Users",
							"SchemaName": "Stg"
						}
					}
				}
			},
			{
				"name": "GetResvTableList",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "LogStartOfImport",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT  SourceTableName as Table_Name, SourceSchemaName as Schema_Name,PLTableName as PLTableName \nFROM [Mtd].[SourceConfigForImport] Where SourceDatabaseName='Reservation' and IsEnabled=1 and FullCopyToPL=1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DestDataMart",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "Users",
							"SchemaName": "Stg"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "For Each Reservation Table",
				"description": "For Each Reservation Table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetResvTableList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetResvTableList').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "LogStartOfResvImportToDatamart",
							"description": "Log Start of Import to Datamart",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:10:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": true,
								"secureInput": true
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "INSERT INTO Mgmt.Log_Execution_Results\n\t  (\n\t    RunId\n\t   ,StepNo\n\t   ,StoredProcedureName\n\t   ,ADFTaskType\n\t   ,StartDateTime\n\t   ,Execution_Status\n\t  )\n  SELECT \n        @{variables('RunId')}\n\t   ,'Step-5'\n\t   ,'NA'\n\t   ,'ImportReservationToDMStaging-'+'@{item().TABLE_NAME}'\n\t   ,getdate()\n\t   ,0\n\nSELECT 'N/A'",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DestDataMart",
									"type": "DatasetReference",
									"parameters": {
										"TableName": "Users",
										"SchemaName": "Stg"
									}
								}
							}
						},
						{
							"name": "GetResvSourceColumnList",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "LogStartOfResvImportToDatamart",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:10:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": true,
								"secureInput": true
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "declare @cols varchar(max)\n\nSELECT  @cols = STUFF\n    (\n        ( \n            SELECT DISTINCT '], [' + column_name\n            FROM INFORMATION_SCHEMA.COLUMNS\n            where table_name='@{item().TABLE_NAME}'\n                 and table_schema='@{item().SCHEMA_NAME}'\n            FOR XML PATH('')\n        ), 1, 2, ''\n    ) + ']';\n\nSELECT @cols Columns",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "SrcReservationDB",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "GetResvSourceColumnListToVariable",
							"description": "Get Commit Source Column List to Variable ",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "GetResvSourceColumnList",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "SourceColumnList",
								"value": {
									"value": "@{activity('GetResvSourceColumnList').output.firstRow.Columns}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "DetectAndLogResvSourceDbChanges",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "GetResvSourceColumnListToVariable",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:30:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": true,
								"secureInput": true
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[DetectAndLogSourceDbChanges]",
								"storedProcedureParameters": {
									"Cols": {
										"value": {
											"value": "@{variables('SourceColumnList')}",
											"type": "Expression"
										},
										"type": "String"
									},
									"SourceDatabaseName": {
										"value": "Reservation",
										"type": "String"
									},
									"SourceSchemaName": {
										"value": {
											"value": "@{item().SCHEMA_NAME}",
											"type": "Expression"
										},
										"type": "String"
									},
									"SourceTableName": {
										"value": {
											"value": "@{item().TABLE_NAME}",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "datamgmt_staging_dbconnectionstring",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "GetImportResvSelectQuery",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "SetVar_ResvKeys_2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:30:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": true,
								"secureInput": true
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "Declare @cols varchar(max)\nDECLARE @SQLCode nvarchar(max)\n\nSELECT @SQLCode=SQLCode from stg.SQLCode WHERE TYPE='EBPP'\nSET @Cols= '@{variables('SourceColumnList')}'\n\nDeclare @SourceQuery Varchar(max)\nDeclare @collist VARCHAR(MAX)\n\nSET @collist=\n STUFF\n    (\n        ( \nSELECT ','+LTRIM(RTRIM(ConfigList))\nFROM\n(SELECT SourceConfigInDM.ConfigList\n   FROM (SELECT VALUE as ConfigList\n   FROM Mtd.SourceConfigForImport SCFI\n  CROSS APPLY string_split(ColumnNamesToInclude,',')\n  WHERE SourceDatabaseName='Reservation'\n    AND SourceTableName='@{item().TABLE_NAME}'\n    AND SourceSchemaName='@{item().Schema_NAME}') SourceConfigInDM\n  WHERE  exists (select LTRIM(RTRIM(value)) as ExistingList\n                      from STRING_SPLIT(@cols, ',') Cols \n\t\t\t\t     where LTRIM(RTRIM(SourceConfigInDM.ConfigList))=LTRIM(RTRIM(Cols.value)))\n  UNION\nSELECT replace(replace(replace(@SQLCode,'T1','CONVERT(NVARCHAR(512),'+ConfigList+')'),'K1','0x'+'@{variables('RK1')}'),'K2','0x'+'@{variables('RK2')}') + ' as ' + SUBSTRING(REPLACE(ConfigList,'[',''),1,2)+SUBSTRING(REVERSE(REPLACE(ConfigList,']','')),1,2) as ConfigList\n   from (SELECT value as ConfigList\n   FROM Mtd.SourceConfigForImport SCFI\n  CROSS APPLY string_split(ColumnNamesToMask,',')\n  WHERE SourceDatabaseName='Reservation'\n    AND SourceTableName='@{item().TABLE_NAME}'\n    AND SourceSchemaName='@{item().Schema_NAME}') SourceConfigInDM\n  WHERE  exists (select LTRIM(RTRIM(value)) as ExistingList\n                   from STRING_SPLIT(@cols, ',') Cols \n\t     \t      where LTRIM(RTRIM(SourceConfigInDM.ConfigList))=LTRIM(RTRIM(Cols.value)))\n\n\t) AS SourceConfigInDM\n  FOR XML PATH('')\n        ), 1, 1, ''\n    ) ;\n\nSET @SourceQuery='select ' + @collist + ' from [@{item().SCHEMA_NAME}].[@{item().TABLE_NAME}]'; \n\nSELECT @SourceQuery SourceQuery, @ColList as ColumnList",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DestDataMart",
									"type": "DatasetReference",
									"parameters": {
										"TableName": "Users",
										"SchemaName": "Stg"
									}
								}
							}
						},
						{
							"name": "CopyResvData",
							"type": "ExecuteDataFlow",
							"dependsOn": [
								{
									"activity": "GetImportResvSelectQuery",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.01:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": true,
								"secureInput": true
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "dataflowReservation",
									"type": "DataFlowReference",
									"parameters": {
										"SourceQuery": {
											"value": "'@{activity('GetImportResvSelectQuery').output.firstRow.SourceQuery}'",
											"type": "Expression"
										},
										"ColumnList": {
											"value": "'@{activity('GetImportResvSelectQuery').output.firstRow.ColumnList}'",
											"type": "Expression"
										}
									},
									"datasetParameters": {
										"ReservationSink": {
											"TableName": "Resv_@{item().TABLE_NAME}",
											"SchemaName": "Stg"
										}
									}
								},
								"integrationRuntime": {
									"referenceName": "AzureIntegrationRunTime",
									"type": "IntegrationRuntimeReference"
								}
							}
						},
						{
							"name": "LogResvSuccessfulExecutionToStaging",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "CopyResvData",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:30:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": true,
								"secureInput": true
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "DECLARE @LogID int\n\n   SELECT @LogID=MAX(LogId) FROM Mgmt.Log_Execution_Results\n   WHERE ADFTaskType='ImportReservationToDMStaging-'+'@{item().TABLE_NAME}'\n     AND RunId=@{variables('RunId')}\n\nUPDATE Mgmt.Log_Execution_Results\n   SET Execution_Status=1\n      ,EndDateTime=getdate()\n\t  ,FullJobStatus='Pending'\n WHERE LogId=@LogID\n   AND RunID=@{variables('RunId')}\n\nSELECT 1",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DestDataMart",
									"type": "DatasetReference",
									"parameters": {
										"TableName": "Users",
										"SchemaName": "Stg"
									}
								}
							}
						},
						{
							"name": "LogResvError",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "CopyResvData",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.00:30:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": true,
								"secureInput": true
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[InsertLogErrorDetails]",
								"storedProcedureParameters": {
									"ErrorMessage": {
										"value": {
											"value": "@{activity('CopyResvData').Error.message}",
											"type": "Expression"
										},
										"type": "String"
									},
									"RunId": {
										"value": {
											"value": "@{variables('RunId')}",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"TaskType": {
										"value": "ImportReservationToDatamart",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "datamgmt_staging_dbconnectionstring",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "ResvPresentationLayerFullRefresh",
							"description": "Presentation Layer Full Refresh",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "LogResvSuccessfulExecutionToStaging",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.01:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": true,
								"secureInput": true
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[PresentationLayerFullRefresh]",
								"storedProcedureParameters": {
									"ColumnList": {
										"value": null,
										"type": "String"
									},
									"ConfigSchema": {
										"value": {
											"value": "@{item().SCHEMA_NAME}",
											"type": "Expression"
										},
										"type": "String"
									},
									"ConfigTable": {
										"value": {
											"value": "@{item().TABLE_NAME}",
											"type": "Expression"
										},
										"type": "String"
									},
									"K1": {
										"value": {
											"value": "@{variables('RK1')}",
											"type": "Expression"
										},
										"type": "String"
									},
									"K2": {
										"value": {
											"value": "@{variables('RK2')}",
											"type": "Expression"
										},
										"type": "String"
									},
									"KeyBased": {
										"value": "1",
										"type": "Int32"
									},
									"PLTableName": {
										"value": {
											"value": "AsData_PL.@{item().PLTABLENAME}",
											"type": "Expression"
										},
										"type": "String"
									},
									"RunId": {
										"value": {
											"value": "@{variables('RunId')}",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"SourceDatabaseName": {
										"value": "Reservation",
										"type": "String"
									},
									"StgTableName": {
										"value": {
											"value": "Stg.Resv_@{item().TABLE_NAME}",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "datamgmt_staging_dbconnectionstring",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Generate_ResvKeys_1",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "DetectAndLogResvSourceDbChanges",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:10:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": true,
								"secureInput": true
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "DECLARE @SQLCode Nvarchar(255)\ndeclare @K1 nvarchar(max)\n\nSELECT @SQLCode='SELECT @K1=convert(nvarchar(max),'+SQLCode+',2)' From Stg.SQLCode Where [Type]='CRG'\n\nEXEC SP_EXECUTESQL @SQLCode, N'@K1 nvarchar(max) OUTPUT',@K1=@K1 OUTPUT\n\nSELECT @K1 as K1",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DestDataMart",
									"type": "DatasetReference",
									"parameters": {
										"TableName": "Users",
										"SchemaName": "Stg"
									}
								}
							}
						},
						{
							"name": "Generate_ResvKeys_2",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Generate_ResvKeys_1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:10:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": true,
								"secureInput": true
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "DECLARE @SQLCode Nvarchar(255)\ndeclare @K2 nvarchar(max)\n\nSELECT @SQLCode='SELECT @K2=convert(nvarchar(max),'+SQLCode+',2)' From Stg.SQLCode Where [Type]='CRG'\n\nEXEC SP_EXECUTESQL @SQLCode, N'@K2 nvarchar(max) OUTPUT',@K2=@K2 OUTPUT\n\nSELECT @K2 as K2\n\n",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DestDataMart",
									"type": "DatasetReference",
									"parameters": {
										"TableName": "Users",
										"SchemaName": "Stg"
									}
								}
							}
						},
						{
							"name": "SetVar_ResvKeys_1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Generate_ResvKeys_2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "RK1",
								"value": {
									"value": "@{activity('Generate_ResvKeys_1').output.firstRow.K1}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SetVar_ResvKeys_2",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "SetVar_ResvKeys_1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "RK2",
								"value": {
									"value": "@{activity('Generate_ResvKeys_2').output.firstRow.K2}",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"RunId": {
				"type": "string"
			},
			"MaxConcurrentConnections": {
				"type": "int"
			},
			"DIU": {
				"type": "int"
			}
		},
		"variables": {
			"SourceColumnList": {
				"type": "String"
			},
			"RunId": {
				"type": "String"
			},
			"RK1": {
				"type": "String"
			},
			"RK2": {
				"type": "String"
			}
		},
		"annotations": []
	}
}