pipeline/ImportAvmsToDataMart.json
{
	"name": "ImportAvmsToDataMart",
	"properties": {
		"activities": [
			{
				"name": "GetTableList",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT  TABLE_SCHEMA,TABLE_NAME FROM information_schema.TABLES where table_schema<>'sys' and table_name in ('vacancy','vacancystatusType','vacancyownerRelationship',\n'Employer','ProviderSite','ProviderSiteRelationship',\n'ProviderSiteRelationshipType','Provider','TrainingType',\n'Standard','StandardSector','EducationLevel','ApprenticeshipFramework',\n'ApprenticeshipOccupation','VacancyHistory','LocalAuthority','County',\n'ApprenticeshipType','WageType','VacancySource','Candidate',\n'Application','ApplicationStatusType','ApplicationHistory',\n'ApplicationHistory')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "SrcAvmsPlus",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachTableInSource",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetTableList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetTableList').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CopyAvmsPlusTablesToDataMart",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "SELECT * FROM [@{item().TABLE_SCHEMA}].[@{item().TABLE_NAME}]",
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": {
										"value": "IF EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = N'[@{item().TABLE_NAME}]' AND TABLE_SCHEMA=N'Stg') DROP TABLE Stg.[@{item().TABLE_NAME}]",
										"type": "Expression"
									},
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "SrcAvmsPlus",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DestDataMart",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "avms_[@{item().TABLE_NAME}]",
											"type": "Expression"
										},
										"SchemaName": "Stg"
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"RunId": {
				"type": "string",
				"defaultValue": "\"1\""
			}
		},
		"annotations": []
	}
}