pipeline/ImportCandidateToDataMart.json
{
	"name": "ImportCandidateToDataMart",
	"properties": {
		"activities": [
			{
				"name": "ImportCandidateToDataMart_1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GenerateCopyActvity1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "CosmosDbMongoDbApiSource",
						"additionalColumns": [
							{
								"name": "RunId",
								"value": {
									"value": "@activity('GenerateCopyActvity1').output",
									"type": "Expression"
								}
							}
						],
						"batchSize": 100,
						"filter": "\n{\"MonitoringInformation.Ethnicity\":31}\n",
						"cursorMethods": {
							"project": "{\"_id\":1,\"LegacyCandidateId\":1}"
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['_id']['$type']"
								},
								"sink": {
									"name": "CandidateId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['LegacyCandidateId']"
								},
								"sink": {
									"name": "LegacyCandidateId",
									"type": "Int64"
								}
							},
							{
								"source": {
									"path": "$['RunId']"
								},
								"sink": {
									"name": "EID",
									"type": "Int64"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "SrcFAACosmos",
						"type": "DatasetReference",
						"parameters": {
							"CollectionName": "candidates"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DestDataMart",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "FAA_Candidate",
							"SchemaName": "Stg"
						}
					}
				]
			},
			{
				"name": "ImportCandidateToDataMart_2",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ImportCandidateToDataMart_1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "CosmosDbMongoDbApiSource",
						"additionalColumns": [
							{
								"name": "RunId",
								"value": {
									"value": "add(pipeline().parameters.RunId,2)",
									"type": "Expression"
								}
							}
						],
						"batchSize": 100,
						"filter": "\n{\"MonitoringInformation.Ethnicity\": 32}\n",
						"cursorMethods": {
							"project": "{\"_id\":1,\"LegacyCandidateId\":1}"
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['_id']['$type']"
								},
								"sink": {
									"name": "CandidateId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['LegacyCandidateId']"
								},
								"sink": {
									"name": "LegacyCandidateId",
									"type": "Int64"
								}
							},
							{
								"source": {
									"path": "$['RunId']"
								},
								"sink": {
									"name": "EID",
									"type": "Int64"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "SrcFAACosmos",
						"type": "DatasetReference",
						"parameters": {
							"CollectionName": "candidates"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DestDataMart",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "FAA_Candidate",
							"SchemaName": "Stg"
						}
					}
				]
			},
			{
				"name": "ImportCandidateToDataMart_3",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ImportCandidateToDataMart_2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "CosmosDbMongoDbApiSource",
						"additionalColumns": [
							{
								"name": "RunId",
								"value": {
									"value": "add(pipeline().parameters.RunId,3)",
									"type": "Expression"
								}
							}
						],
						"batchSize": 100,
						"filter": "\n{\"MonitoringInformation.Ethnicity\":33}\n",
						"cursorMethods": {
							"project": "{\"_id\":1,\"LegacyCandidateId\":1}"
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['_id']['$type']"
								},
								"sink": {
									"name": "CandidateId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['LegacyCandidateId']"
								},
								"sink": {
									"name": "LegacyCandidateId",
									"type": "Int64"
								}
							},
							{
								"source": {
									"path": "$['RunId']"
								},
								"sink": {
									"name": "EID",
									"type": "Int64"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "SrcFAACosmos",
						"type": "DatasetReference",
						"parameters": {
							"CollectionName": "candidates"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DestDataMart",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "FAA_Candidate",
							"SchemaName": "Stg"
						}
					}
				]
			},
			{
				"name": "ImportCandidateToDataMart_4",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ImportCandidateToDataMart_3",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "CosmosDbMongoDbApiSource",
						"additionalColumns": [
							{
								"name": "RunId",
								"value": {
									"value": "add(pipeline().parameters.RunId,4)",
									"type": "Expression"
								}
							}
						],
						"batchSize": 100,
						"filter": "{\"MonitoringInformation.Ethnicity\":34}",
						"cursorMethods": {
							"project": "{\"_id\":1,\"LegacyCandidateId\":1}"
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['_id']['$type']"
								},
								"sink": {
									"name": "CandidateId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['LegacyCandidateId']"
								},
								"sink": {
									"name": "LegacyCandidateId",
									"type": "Int64"
								}
							},
							{
								"source": {
									"path": "$['RunId']"
								},
								"sink": {
									"name": "EID",
									"type": "Int64"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "SrcFAACosmos",
						"type": "DatasetReference",
						"parameters": {
							"CollectionName": "candidates"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DestDataMart",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "FAA_Candidate",
							"SchemaName": "Stg"
						}
					}
				]
			},
			{
				"name": "ImportCandidateToDataMart_5",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ImportCandidateToDataMart_4",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "CosmosDbMongoDbApiSource",
						"additionalColumns": [
							{
								"name": "RunId",
								"value": {
									"value": "add(pipeline().parameters.RunId,5)",
									"type": "Expression"
								}
							}
						],
						"batchSize": 100,
						"filter": "{\"MonitoringInformation.Ethnicity\":35}",
						"cursorMethods": {
							"project": "{\"_id\":1,\"LegacyCandidateId\":1}"
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['_id']['$type']"
								},
								"sink": {
									"name": "CandidateId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['LegacyCandidateId']"
								},
								"sink": {
									"name": "LegacyCandidateId",
									"type": "Int64"
								}
							},
							{
								"source": {
									"path": "$['RunId']"
								},
								"sink": {
									"name": "EID",
									"type": "Int64"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "SrcFAACosmos",
						"type": "DatasetReference",
						"parameters": {
							"CollectionName": "candidates"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DestDataMart",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "FAA_Candidate",
							"SchemaName": "Stg"
						}
					}
				]
			},
			{
				"name": "ImportCandidateToDataMart_6",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ImportCandidateToDataMart_5",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "CosmosDbMongoDbApiSource",
						"additionalColumns": [
							{
								"name": "RunId",
								"value": {
									"value": "add(pipeline().parameters.RunId,6)",
									"type": "Expression"
								}
							}
						],
						"batchSize": 100,
						"filter": "{\"MonitoringInformation.Ethnicity\":{ $nin: [ 31,32,33,34,35,36] }}",
						"cursorMethods": {
							"project": "{\"_id\":1,\"LegacyCandidateId\":1}"
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['_id']['$type']"
								},
								"sink": {
									"name": "CandidateId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['LegacyCandidateId']"
								},
								"sink": {
									"name": "LegacyCandidateId",
									"type": "Int64"
								}
							},
							{
								"source": {
									"path": "$['RunId']"
								},
								"sink": {
									"name": "EID",
									"type": "Int64"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "SrcFAACosmos",
						"type": "DatasetReference",
						"parameters": {
							"CollectionName": "candidates"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DestDataMart",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "FAA_Candidate",
							"SchemaName": "Stg"
						}
					}
				]
			},
			{
				"name": "GenerateCopyActvity1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[GenerateCopyActivityId]",
						"storedProcedureParameters": {
							"RunId": {
								"type": "Int64",
								"value": {
									"value": "@pipeline().parameters.RunId",
									"type": "Expression"
								}
							},
							"SourceDb": {
								"type": "String",
								"value": "RAAv2"
							}
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DestDataMart",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "Users",
							"SchemaName": "Stg"
						}
					}
				}
			}
		],
		"parameters": {
			"RunId": {
				"type": "int",
				"defaultValue": 1
			}
		},
		"annotations": []
	}
}