pipeline/ImportAvmsCandidateToDataMart.json
{
	"name": "ImportAvmsCandidateToDataMart",
	"properties": {
		"activities": [
			{
				"name": "ImportCandidateToDataMart_1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GenerateCopyActvity1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "RunId",
								"value": {
									"value": "@activity('GenerateCopyActvity1').output.firstRow.CAID\n",
									"type": "Expression"
								}
							}
						],
						"sqlReaderQuery": "Select CandidateId\nFrom dbo.Candidate\nWhere EthnicOrigin=0",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "DELETE FROM [Stg].[Avms_CandidateEth]",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "CandidateId",
									"type": "Int32"
								},
								"sink": {
									"name": "CandidateId"
								}
							},
							{
								"source": {
									"name": "RunId"
								},
								"sink": {
									"name": "EID"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "SrcAvmsPlus",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "Candidate",
							"SchemaName": "dbo"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DestDataMart",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "Avms_CandidateEth",
							"SchemaName": "Stg"
						}
					}
				]
			},
			{
				"name": "GenerateCopyActvity1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "DECLARE @CAID BIGINT\n\nEXECUTE @CAID= [dbo].[GenerateCopyActivityId] @{pipeline().parameters.RunId}, 'RAAv1'\n\nSELECT @CAID as CAID",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DestDataMart",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "Users",
							"SchemaName": "Stg"
						}
					}
				}
			},
			{
				"name": "GenerateCopyActvity2",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ImportCandidateToDataMart_1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "DECLARE @CAID BIGINT\n\nEXECUTE @CAID= [dbo].[GenerateCopyActivityId] @{pipeline().parameters.RunId}, 'RAAv1'\n\nSELECT @CAID as CAID",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DestDataMart",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "Users",
							"SchemaName": "Stg"
						}
					}
				}
			},
			{
				"name": "ImportCandidateToDataMart_2",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GenerateCopyActvity2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "RunId",
								"value": {
									"value": "@activity('GenerateCopyActvity2').output.firstRow.CAID\n",
									"type": "Expression"
								}
							}
						],
						"sqlReaderQuery": "Select CandidateId\nFrom dbo.Candidate\nWhere EthnicOrigin=1",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "AzureSqlSink",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "CandidateId",
									"type": "Int32"
								},
								"sink": {
									"name": "CandidateId"
								}
							},
							{
								"source": {
									"name": "RunId"
								},
								"sink": {
									"name": "EID"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "SrcAvmsPlus",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "Candidate",
							"SchemaName": "dbo"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DestDataMart",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "Avms_CandidateEth",
							"SchemaName": "Stg"
						}
					}
				]
			},
			{
				"name": "GenerateCopyActvity3",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ImportCandidateToDataMart_2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "DECLARE @CAID BIGINT\n\nEXECUTE @CAID= [dbo].[GenerateCopyActivityId] @{pipeline().parameters.RunId}, 'RAAv1'\n\nSELECT @CAID as CAID",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DestDataMart",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "Users",
							"SchemaName": "Stg"
						}
					}
				}
			},
			{
				"name": "ImportCandidateToDataMart_3",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GenerateCopyActvity3",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "RunId",
								"value": {
									"value": "@activity('GenerateCopyActvity2').output.firstRow.CAID\n",
									"type": "Expression"
								}
							}
						],
						"sqlReaderQuery": "Select CandidateId\nFrom dbo.Candidate\nWhere EthnicOrigin=2",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "AzureSqlSink",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "CandidateId",
									"type": "Int32"
								},
								"sink": {
									"name": "CandidateId"
								}
							},
							{
								"source": {
									"name": "RunId"
								},
								"sink": {
									"name": "EID"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "SrcAvmsPlus",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "Candidate",
							"SchemaName": "dbo"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DestDataMart",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "Avms_CandidateEth",
							"SchemaName": "Stg"
						}
					}
				]
			},
			{
				"name": "GenerateCopyActvity4",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ImportCandidateToDataMart_3",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "DECLARE @CAID BIGINT\n\nEXECUTE @CAID= [dbo].[GenerateCopyActivityId] @{pipeline().parameters.RunId}, 'RAAv1'\n\nSELECT @CAID as CAID",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DestDataMart",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "Users",
							"SchemaName": "Stg"
						}
					}
				}
			},
			{
				"name": "ImportCandidateToDataMart_4",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GenerateCopyActvity4",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "RunId",
								"value": {
									"value": "@activity('GenerateCopyActvity2').output.firstRow.CAID\n",
									"type": "Expression"
								}
							}
						],
						"sqlReaderQuery": "Select CandidateId\nFrom dbo.Candidate\nWhere EthnicOrigin=7",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "AzureSqlSink",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "CandidateId",
									"type": "Int32"
								},
								"sink": {
									"name": "CandidateId"
								}
							},
							{
								"source": {
									"name": "RunId"
								},
								"sink": {
									"name": "EID"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "SrcAvmsPlus",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "Candidate",
							"SchemaName": "dbo"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DestDataMart",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "Avms_CandidateEth",
							"SchemaName": "Stg"
						}
					}
				]
			},
			{
				"name": "GenerateCopyActvity5",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ImportCandidateToDataMart_4",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "DECLARE @CAID BIGINT\n\nEXECUTE @CAID= [dbo].[GenerateCopyActivityId] @{pipeline().parameters.RunId}, 'RAAv1'\n\nSELECT @CAID as CAID",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DestDataMart",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "Users",
							"SchemaName": "Stg"
						}
					}
				}
			},
			{
				"name": "ImportCandidateToDataMart_5",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GenerateCopyActvity5",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "RunId",
								"value": {
									"value": "@activity('GenerateCopyActvity2').output.firstRow.CAID\n",
									"type": "Expression"
								}
							}
						],
						"sqlReaderQuery": "Select CandidateId\nFrom dbo.Candidate\nWhere EthnicOrigin=20",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "AzureSqlSink",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "CandidateId",
									"type": "Int32"
								},
								"sink": {
									"name": "CandidateId"
								}
							},
							{
								"source": {
									"name": "RunId"
								},
								"sink": {
									"name": "EID"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "SrcAvmsPlus",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "Candidate",
							"SchemaName": "dbo"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DestDataMart",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "Avms_CandidateEth",
							"SchemaName": "Stg"
						}
					}
				]
			}
		],
		"parameters": {
			"RunId": {
				"type": "int",
				"defaultValue": 1
			}
		},
		"annotations": []
	}
}