pipeline/ImportCampaignDataToDataMart.json
{
	"name": "ImportCampaignDataToDataMart",
	"properties": {
		"activities": [
			{
				"name": "GetAccessToken",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "GetBaseUrl",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://665-CPW-432.mktorest.com/identity/oauth/token?grant_type=client_credentials",
					"connectVia": {
						"referenceName": "AzureIntegrationRunTime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"linkedServices": [
						{
							"referenceName": "marketo_restservice",
							"type": "LinkedServiceReference"
						}
					],
					"datasets": [
						{
							"referenceName": "SrcRestCampaign",
							"type": "DatasetReference",
							"parameters": {
								"RelativePath": "/rest/v1/leads.json"
							}
						}
					],
					"authentication": {
						"type": "Basic",
						"username": "fe80b247-329c-4f29-8fb9-0159f2978f4c",
						"password": {
							"type": "AzureKeyVaultSecret",
							"store": {
								"referenceName": "AzureKeyVault1",
								"type": "LinkedServiceReference"
							},
							"secretName": "marketo-clientsecret"
						}
					}
				}
			},
			{
				"name": "CreateLeadsExtractJob",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "GetAccessToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://665-CPW-432.mktorest.com/bulk/v1/leads/export/create.json?access_token=@{activity('GetAccessToken').output.access_token}",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AzureIntegrationRunTime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "POST",
					"headers": {
						"Authorization": {
							"value": "'bearer '+@{activity('GetAccessToken').output.access_token}",
							"type": "Expression"
						}
					},
					"body": {
						"fields": [
							"firstName",
							"lastName",
							"id",
							"email"
						],
						"format": "CSV",
						"columnHeaderNames": {
							"firstName": "FirstName",
							"lastName": "LastName",
							"id": "LeadId",
							"email": "EmailAddress"
						},
						"filter": {
							"createdAt": {
								"startAt": "2020-08-31T23:59:59-00:00",
								"endAt": "2020-09-30T23:59:59-00:00"
							}
						}
					}
				}
			},
			{
				"name": "StartExportJob",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "CreateLeadsExtractJob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://665-CPW-432.mktorest.com/bulk/v1/leads/export/@{activity('CreateLeadsExtractJob').output.result[0].exportId}/enqueue.json?access_token=@{activity('GetAccessToken').output.access_token}",
						"type": "Expression"
					},
					"method": "POST",
					"body": "v1"
				}
			},
			{
				"name": "Wait2MinForJobToComplete",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "StartExportJob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 120
				}
			},
			{
				"name": "CopyLeads",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Wait2MinForJobToComplete",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET",
							"requestTimeout": ""
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "IF EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = N'MarketoLeads' AND TABLE_SCHEMA=N'Stg') DROP TABLE [Stg].[MarketoLeads]",
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "FirstName",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "FirstName",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "LastName",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "LastName",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "LeadId",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "LeadId",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "EmailAddress",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "EmailAddress",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SrcHttpCampaign",
						"type": "DatasetReference",
						"parameters": {
							"RelativePath": {
								"value": "/bulk/v1/leads/export/@{activity('CreateLeadsExtractJob').output.result[0].exportId}/file.json?access_token=@{activity('GetAccessToken').output.access_token}",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DestDataMart",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "MarketoLeads",
							"SchemaName": "Stg"
						}
					}
				]
			},
			{
				"name": "GetAccessTokenForActivities",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "GetBaseUrl",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://665-CPW-432.mktorest.com/identity/oauth/token?grant_type=client_credentials",
					"connectVia": {
						"referenceName": "AzureIntegrationRunTime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"linkedServices": [
						{
							"referenceName": "marketo_restservice",
							"type": "LinkedServiceReference"
						}
					],
					"datasets": [
						{
							"referenceName": "SrcRestCampaign",
							"type": "DatasetReference",
							"parameters": {
								"RelativePath": "/rest/v1/leads.json"
							}
						}
					],
					"authentication": {
						"type": "Basic",
						"username": "fe80b247-329c-4f29-8fb9-0159f2978f4c",
						"password": {
							"type": "AzureKeyVaultSecret",
							"store": {
								"referenceName": "AzureKeyVault1",
								"type": "LinkedServiceReference"
							},
							"secretName": "marketo-clientsecret"
						}
					}
				}
			},
			{
				"name": "CreateActivitiesExtractJob",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "GetAccessTokenForActivities",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://665-CPW-432.mktorest.com/bulk/v1/activities/export/create.json?access_token=@{activity('GetAccessTokenForActivities').output.access_token}",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AzureIntegrationRunTime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "POST",
					"headers": {
						"Authorization": {
							"value": "'bearer '+@{activity('GetAccessTokenForActivities').output.access_token}",
							"type": "Expression"
						}
					},
					"body": {
						"fields": [
							"marketoGUID",
							"leadId",
							"activityDate",
							"activityTypeId",
							"campaignId",
							"primaryAttributeValueId",
							"primaryAttributeValue",
							"attributes"
						],
						"format": "TSV",
						"columnHeaderNames": {
							"marketoGUID": "MarketoGUID",
							"leadId": "LeadId",
							"activityDate": "ActivityDate",
							"activityTypeId": "ActivityTypeId",
							"campaignId": "CampaignId",
							"primaryAttributeValueId": "PrimaryAttributeValueId",
							"primaryAttributeValue": "primaryAttributeValue",
							"attributes": "Attributes"
						},
						"filter": {
							"createdAt": {
								"startAt": "2020-08-31T23:59:59-00:00",
								"endAt": "2020-09-30T23:59:59-00:00"
							}
						}
					}
				}
			},
			{
				"name": "StartExportJobForActivities",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "CreateActivitiesExtractJob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://665-CPW-432.mktorest.com/bulk/v1/activities/export/@{activity('CreateActivitiesExtractJob').output.result[0].exportId}/enqueue.json?access_token=@{activity('GetAccessTokenForActivities').output.access_token}",
						"type": "Expression"
					},
					"method": "POST",
					"body": "v1"
				}
			},
			{
				"name": "Wait2MinForActivitiesJobToComplete",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "StartExportJobForActivities",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 120
				}
			},
			{
				"name": "CopyActivities",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Wait2MinForActivitiesJobToComplete",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET",
							"requestTimeout": ""
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "IF EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = N'MarketoActivities' AND TABLE_SCHEMA=N'Stg') DROP TABLE [Stg].[MarketoActivities]",
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "MarketoGUID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "MarketoGUID",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "LeadId",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "LeadId",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ActivityDate",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ActivityDate",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ActivityTypeId",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ActivityTypeId",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CampaignId",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "CampaignId",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "PrimaryAttributeValueId",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PrimaryAttributeValueId",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "primaryAttributeValue",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PrimaryAttributeValue",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Attributes",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Attributes",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SrcHttpCampaign",
						"type": "DatasetReference",
						"parameters": {
							"RelativePath": {
								"value": "@/bulk/v1/activities/export/@{activity('CreateActivitiesExtractJob').output.result[0].exportId}/file.json?access_token=@{activity('GetAccessTokenForActivities').output.access_token}",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DestDataMart",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "MarketoActivities",
							"SchemaName": "Stg"
						}
					}
				]
			},
			{
				"name": "GetAccessTokenForPrograms",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "GetBaseUrl",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://665-CPW-432.mktorest.com/identity/oauth/token?grant_type=client_credentials",
					"connectVia": {
						"referenceName": "AzureIntegrationRunTime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"linkedServices": [
						{
							"referenceName": "marketo_restservice",
							"type": "LinkedServiceReference"
						}
					],
					"datasets": [
						{
							"referenceName": "SrcRestCampaign",
							"type": "DatasetReference",
							"parameters": {
								"RelativePath": "/rest/v1/leads.json"
							}
						}
					]
				}
			},
			{
				"name": "CreateProgramsExtractJob",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "GetAccessTokenForPrograms",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://665-CPW-432.mktorest.com/bulk/v1/program/members/export/create.json?access_token=@{activity('GetAccessTokenForPrograms').output.access_token}",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AzureIntegrationRunTime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "POST",
					"headers": {
						"Authorization": {
							"value": "'bearer '+@{activity('GetAccessTokenForPrograms').output.access_token}",
							"type": "Expression"
						}
					},
					"body": {
						"format": "TSV",
						"fields": [
							"firstName",
							"lastName",
							"email",
							"Member Date",
							"Program",
							"Program Id",
							"Status",
							"Lead Id",
							"Success"
						],
						"filter": {
							"programId": 1010
						}
					}
				}
			},
			{
				"name": "StartExportJobForPrograms",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "CreateProgramsExtractJob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://665-CPW-432.mktorest.com/bulk/v1/program/members/export/@{activity('CreateProgramsExtractJob').output.result[0].exportId}/enqueue.json?access_token=@{activity('GetAccessTokenForPrograms').output.access_token}",
						"type": "Expression"
					},
					"method": "POST",
					"body": "v1"
				}
			},
			{
				"name": "Wait2MinForActivitiesJobToComplete_copy1",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "StartExportJobForPrograms",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 120
				}
			},
			{
				"name": "GetActivityTypeIds",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetAccessTokenForActivityIds",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "IF EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = N'MarketoActivityTypes' AND TABLE_SCHEMA=N'Stg') DROP TABLE [Stg].[MarketoActivityTypes]",
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['id']"
								},
								"sink": {
									"name": "id"
								}
							},
							{
								"source": {
									"path": "['name']"
								},
								"sink": {
									"name": "name"
								}
							},
							{
								"source": {
									"path": "['description']"
								},
								"sink": {
									"name": "description"
								}
							}
						],
						"collectionReference": "$['result']"
					}
				},
				"inputs": [
					{
						"referenceName": "SrcRestCampaign",
						"type": "DatasetReference",
						"parameters": {
							"RelativePath": {
								"value": "/rest/v1/activities/types.json?access_token=@{activity('GetAccessTokenForActivityIds').output.access_token}",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DestDataMart",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "MarketoActivityTypes",
							"SchemaName": "Stg"
						}
					}
				]
			},
			{
				"name": "GetAccessTokenForActivityIds",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "GetBaseUrl",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://665-CPW-432.mktorest.com/identity/oauth/token?grant_type=client_credentials",
					"connectVia": {
						"referenceName": "AzureIntegrationRunTime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"linkedServices": [
						{
							"referenceName": "marketo_restservice",
							"type": "LinkedServiceReference"
						}
					],
					"datasets": [
						{
							"referenceName": "SrcRestCampaign",
							"type": "DatasetReference",
							"parameters": {
								"RelativePath": "/rest/v1/leads.json"
							}
						}
					],
					"authentication": {
						"type": "Basic",
						"username": "fe80b247-329c-4f29-8fb9-0159f2978f4c",
						"password": {
							"type": "AzureKeyVaultSecret",
							"store": {
								"referenceName": "AzureKeyVault1",
								"type": "LinkedServiceReference"
							},
							"secretName": "marketo-clientsecret"
						}
					}
				}
			},
			{
				"name": "GetAccessTokenForProgramTypesNames",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "GetBaseUrl",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://665-CPW-432.mktorest.com/identity/oauth/token?grant_type=client_credentials",
					"connectVia": {
						"referenceName": "AzureIntegrationRunTime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"linkedServices": [
						{
							"referenceName": "marketo_restservice",
							"type": "LinkedServiceReference"
						}
					],
					"datasets": [
						{
							"referenceName": "SrcRestCampaign",
							"type": "DatasetReference",
							"parameters": {
								"RelativePath": "/rest/v1/leads.json"
							}
						}
					],
					"authentication": {
						"type": "Basic",
						"username": "fe80b247-329c-4f29-8fb9-0159f2978f4c",
						"password": {
							"type": "AzureKeyVaultSecret",
							"store": {
								"referenceName": "AzureKeyVault1",
								"type": "LinkedServiceReference"
							},
							"secretName": "marketo-clientsecret"
						}
					}
				}
			},
			{
				"name": "GetProgramNames",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetAccessTokenForProgramTypesNames",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "IF EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = N'MarketoPrograms' AND TABLE_SCHEMA=N'Stg') DROP TABLE [Stg].[MarketoPrograms]",
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['id']"
								},
								"sink": {
									"name": "id"
								}
							},
							{
								"source": {
									"path": "['name']"
								},
								"sink": {
									"name": "name"
								}
							},
							{
								"source": {
									"path": "['description']"
								},
								"sink": {
									"name": "description"
								}
							},
							{
								"source": {
									"path": "['createdAt']"
								},
								"sink": {
									"name": "createdAt"
								}
							},
							{
								"source": {
									"path": "['updatedAt']"
								},
								"sink": {
									"name": "updatedAt"
								}
							},
							{
								"source": {
									"path": "['url']"
								},
								"sink": {
									"name": "url"
								}
							},
							{
								"source": {
									"path": "['type']"
								},
								"sink": {
									"name": "type"
								}
							},
							{
								"source": {
									"path": "['channel']"
								},
								"sink": {
									"name": "channel"
								}
							}
						],
						"collectionReference": "$['result']"
					}
				},
				"inputs": [
					{
						"referenceName": "SrcRestCampaign",
						"type": "DatasetReference",
						"parameters": {
							"RelativePath": {
								"value": "/rest/asset/v1/programs.json?access_token=@{activity('GetAccessTokenForProgramTypesNames').output.access_token}",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DestDataMart",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "MarketoPrograms",
							"SchemaName": "Stg"
						}
					}
				]
			},
			{
				"name": "CopyLeadPrograms",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Wait2MinForActivitiesJobToComplete_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"tableOption": "autoCreate"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "firstName",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "firstName",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "lastName",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "lastName",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "email",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "email",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Member Date",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "MemberDate",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Program",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Program",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Status",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Status",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Lead Id",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "LeadId",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Success",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Success",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SrcHttpCampaign",
						"type": "DatasetReference",
						"parameters": {
							"RelativePath": {
								"value": "/bulk/v1/program/members/export/@{activity('CreateProgramsExtractJob').output.result[0].exportId}/file.json?access_token=@{activity('GetAccessTokenForPrograms').output.access_token}",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DestDataMart",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "MarketoLeadPrograms",
							"SchemaName": "Stg"
						}
					}
				]
			},
			{
				"name": "GetBaseUrl",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "GetVaultUrl",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://das-at-dfac-kv.vault.azure.net/secrets/marketo-baseurl",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AzureIntegrationRunTime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "GetVaultUrl",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": []
			}
		],
		"annotations": []
	}
}