pipeline/ImportRAAToDataMart.json
{
	"name": "ImportRAAToDataMart",
	"properties": {
		"activities": [
			{
				"name": "GetRunId",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "EXEC [dbo].[GenerateRunId]\n\nSELECT MAX(RunId) from Mgmt.Log_RunId",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DataMart",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ImportRAAUsers",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SetRunId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "CosmosDbMongoDbApiSource",
						"batchSize": 100
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": {
							"value": "DELETE FROM dbo.RAA_Users\n\nDECLARE @RunId Int\n\nSelect @RunId= @variables('RunId')\n\n  INSERT INTO Mgmt.Log_Execution_Results\n\t  (\n\t    RunId\n\t  )\n  SELECT \n       @RunId",
							"type": "Expression"
						},
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['_id']['$binary']"
								},
								"sink": {
									"name": "BinaryId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['_id']['$type']"
								},
								"sink": {
									"name": "TypeCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['idamsUserId']"
								},
								"sink": {
									"name": "IdamUserId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['userType']"
								},
								"sink": {
									"name": "UserType",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['name']"
								},
								"sink": {
									"name": "UserName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['email']"
								},
								"sink": {
									"name": "UserEmail",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['createdDate']['$date']"
								},
								"sink": {
									"name": "UserCreatedDate",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['lastSignedInDate']['$date']"
								},
								"sink": {
									"name": "lastSignedInDate",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['employerAccountIds']"
								},
								"sink": {
									"name": "EmployerAccountId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['ukprn']"
								},
								"sink": {
									"name": "Ukprn",
									"type": "String"
								}
							}
						],
						"mapComplexValuesToString": true
					}
				},
				"inputs": [
					{
						"referenceName": "RAA",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DataMart",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "SetRunId",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetRunId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "RunId",
					"value": {
						"value": "@activity('GetRunId').output.value",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"RunId": {
				"type": "Array",
				"defaultValue": [
					"1",
					"2"
				]
			}
		},
		"annotations": []
	}
}