pipeline/ImportCampaignDataToDataMart.json
{
	"name": "ImportCampaignDataToDataMart",
	"properties": {
		"activities": [
			{
				"name": "GetAccessToken",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://665-CPW-432.mktorest.com/identity/oauth/token?grant_type=client_credentials",
					"connectVia": {
						"referenceName": "AzureIntegrationRunTime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"linkedServices": [
						{
							"referenceName": "marketo_restservice",
							"type": "LinkedServiceReference"
						}
					],
					"datasets": [
						{
							"referenceName": "SrcRestCampaign",
							"type": "DatasetReference",
							"parameters": {
								"RelativePath": "/rest/v1/leads.json"
							}
						}
					],
					"authentication": {
						"type": "Basic",
						"username": "fe80b247-329c-4f29-8fb9-0159f2978f4c",
						"password": {
							"type": "AzureKeyVaultSecret",
							"store": {
								"referenceName": "AzureKeyVault1",
								"type": "LinkedServiceReference"
							},
							"secretName": "marketo-clientsecret"
						}
					}
				}
			},
			{
				"name": "CreateLeadsExtractJob",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "GetAccessToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://665-CPW-432.mktorest.com",
					"connectVia": {
						"referenceName": "AzureIntegrationRunTime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "POST",
					"headers": {
						"access_token": {
							"value": "'bearer '+@{activity('GetAccessToken').output.access_token}",
							"type": "Expression"
						}
					},
					"body": {
						"fields": [
							"firstName",
							"lastName",
							"id",
							"email"
						],
						"format": "CSV",
						"columnHeaderNames": {
							"firstName": "FirstName",
							"lastName": "LastName",
							"id": "LeadId",
							"email": "EmailAddress"
						},
						"filter": {
							"createdAt": {
								"startAt": "2020-08-31T23:59:59-00:00",
								"endAt": "2020-09-31T23:59:59-00:00"
							}
						}
					},
					"datasets": [
						{
							"referenceName": "SrcRestCampaign",
							"type": "DatasetReference",
							"parameters": {
								"RelativePath": "/bulk/v1/leads/export/create.json"
							}
						}
					]
				}
			},
			{
				"name": "StartExportJob",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "CreateLeadsExtractJob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://665-CPW-432.mktorest.com",
					"method": "POST",
					"headers": {
						"access_token": {
							"value": "'bearer '+@{activity('GetAccessToken').output.access_token}",
							"type": "Expression"
						}
					},
					"body": "v1",
					"datasets": [
						{
							"referenceName": "SrcRestCampaign",
							"type": "DatasetReference",
							"parameters": {
								"RelativePath": "/bulk/v1/leads/export/f7ed3c2a-778f-40ac-94b7-e528fb7f59c7/enqueue.json"
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}