pipeline/Master-BuildDataMart.json
{
	"name": "Master-BuildDataMart",
	"properties": {
		"activities": [
			{
				"name": "GetRunId",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "GenerateRunId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:30:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT CAST(MAX(RunId) AS VARCHAR(256)) as RunId FROM Mgmt.Log_RunId",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DestDataMart",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "Stg",
							"SchemaName": "Users"
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "GenerateRunId",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:30:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[GenerateRunId]"
				},
				"linkedServiceName": {
					"referenceName": "datamgmt_staging_dbconnectionstring",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ExecuteImportRAAToDataMart",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "GetRunId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ImportRAAToDataMart",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"MaxConcurrentConnections": "4",
						"DIU": "4",
						"RunId": {
							"value": "@activity('GetRunId').output.firstRow.RunId",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "ExecuteImportAvmsToDataMart",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ExecuteImportRAAToDataMart",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ImportAvmsToDataMart",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"RunId": {
							"value": "@activity('GetRunId').output.firstRow.RunId",
							"type": "Expression"
						},
						"MaxConcurrentConnections": "4",
						"DIU": "4"
					}
				}
			},
			{
				"name": "CompleteLogging",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ExecuteImportAvmsToDataMart",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:30:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "/* Update Log Execution last step as Finish */\n  UPDATE MGMT\n     SET FullJobStatus='Finish'\n\tfrom Mgmt.Log_Execution_Results Mgmt\n   WHERE LogId=(SELECT MAX(LogId)\n                  FROM Mgmt.Log_Execution_Results\n\t\t\t\t WHERE RunId=427)\n\n/* Update RunId Finish Time */\n   UPDATE MGMT\n      SET EndDateTime=getdate()\n\t FROM Mgmt.Log_Execution_Results Mgmt\n\tWHERE RunId=427\n\nSELECT \"N/A\"",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DestDataMart",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "Users",
							"SchemaName": "Stg"
						}
					}
				}
			}
		],
		"parameters": {
			"RunId": {
				"type": "string",
				"defaultValue": "\"1\""
			}
		},
		"annotations": []
	}
}