pipeline/Master-ImportCampaignDataToDataMart.json
{
	"name": "Master-ImportCampaignDataToDataMart",
	"properties": {
		"activities": [
			{
				"name": "GetRunId",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "GenerateRunId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:30:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT CAST(MAX(RunId) AS VARCHAR(256)) as RunId FROM Mgmt.Log_RunId",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DestDataMart",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "Stg",
							"SchemaName": "Users"
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "GenerateRunId",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:30:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[GenerateRunId]"
				},
				"linkedServiceName": {
					"referenceName": "datamgmt_staging_dbconnectionstring",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ExecuteImportCampaignDataToDataMart_1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "LogStartOfCampaignImport",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ImportCampaignDataToDataMart_1",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"RunId": {
							"value": "@activity('GetRunId').output.firstRow.RunId",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "LogStartOfCampaignImport",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "GetRunId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "INSERT INTO Mgmt.Log_Execution_Results\n\t  (\n\t    RunId\n\t   ,StepNo\n\t   ,StoredProcedureName\n\t   ,ADFTaskType\n\t   ,StartDateTime\n\t   ,Execution_Status\n\t  )\n  SELECT \n        @{activity('GetRunId').output.firstRow.RunId}\n\t   ,'Step-5'\n\t   ,'NA'\n\t   ,'ImportMarketoCampaignDataToDM'\n\t   ,getdate()\n\t   ,0\n\nSELECT 'N/A'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DestDataMart",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "Users",
							"SchemaName": "Stg"
						}
					}
				}
			},
			{
				"name": "LogCompleteCampaignImport",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ExecuteCampaignPresentationBuild",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "/* Log the Import of Campaign Data as Complete */\n\nDECLARE @LogID int\n\n   SELECT @LogID=MAX(LogId) FROM Mgmt.Log_Execution_Results\n   WHERE ADFTaskType='ImportMarketoCampaignDataToDM'\n     AND RunId=@{activity('GetRunId').output.firstRow.RunId}\n\nUPDATE Mgmt.Log_Execution_Results\n   SET Execution_Status=1\n      ,EndDateTime=getdate()\n\t  ,FullJobStatus='Pending'\n WHERE LogId=@LogID\n   AND RunID=@{activity('GetRunId').output.firstRow.RunId}\n\n/*  Log The Status as Finish in Execution Results */\nUPDATE MGMT\n     SET FullJobStatus='Finish'\n\tfrom Mgmt.Log_Execution_Results Mgmt\n   WHERE LogId=(SELECT MAX(LogId)\n                  FROM Mgmt.Log_Execution_Results\n\t\t\t\t WHERE RunId=@{activity('GetRunId').output.firstRow.RunId})\n/* Log the End Time on Run Id */\n  UPDATE MGMT\n      SET EndDateTime=getdate()\n\t FROM Mgmt.Log_RunId Mgmt\n\tWHERE RunId=@{activity('GetRunId').output.firstRow.RunId}\n\nSELECT 'na'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DestDataMart",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "Users",
							"SchemaName": "Stg"
						}
					}
				}
			},
			{
				"name": "ExecuteCampaignPresentationBuild",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CheckIfImportIsLatestOrHistory",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.02:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[ImportMarketoDataToPL]",
					"storedProcedureParameters": {
						"RunId": {
							"value": {
								"value": "@activity('GetRunId').output.firstRow.RunId",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "datamgmt_staging_dbconnectionstring",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "GetDateFilterValues",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ExecuteImportCampaignDataToDataMart_1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "IF EXISTS (SELECT * FROM Mtd.MarketoFilterConfig WHERE ImportStatus=0)\n  BEGIN\n  SELECT MFC_ID,StartDateFilter,EndDateFilter,'History' as FilterType\n  FROM Mtd.MarketoFilterConfig\n  WHERE MFC_Id IN (\n  SELECT min(mfc_id)\n    FROM Mtd.MarketoFilterConfig\n   WHERE ImportStatus=0)\n   END\n   ELSE \n   BEGIN\n   select -1 as MFC_ID\n         ,convert(varchar,cast(getdate()-1 as date))+'T00:00:00Z' as StartDateFilter\n\t\t ,convert(varchar,cast(getdate() as date))+'T00:00:00Z' as EndDateFilter\n\t\t ,'Latest' as FilterType\n   END",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DestDataMart",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "Users",
							"SchemaName": "Stg"
						}
					}
				}
			},
			{
				"name": "GetProgramFilterValues",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "GetDateFilterValues",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "IF EXISTS (SELECT * FROM ASData_PL.MarketoPrograms WHERE LeadProgramImportStatus=0)\n  BEGIN\n  SELECT max(ProgramId)\n    FROM ASData_PL.MarketoPrograms\n   WHERE LeadProgramImportStatus=0\n   END\n   ELSE \n   BEGIN\n   SELECT ProgramId\n     FROM ASData_PL.MarketoPrograms\n\tWHERE UpdatedAt = (select max(updatedAt) from AsData_PL.MarketoPrograms)\n    END",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DestDataMart",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "Users",
							"SchemaName": "Stg"
						}
					}
				}
			},
			{
				"name": "CheckIfImportIsLatestOrHistory",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "GetProgramFilterValues",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('GetDateFilterValues').output.FilterType,'History')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "ExecuteImportCampaignDataToDataMart_2_Latest",
							"description": "ExecuteImportCampaignDataToDataMart_2_LatestFilterByCreatedDate",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "ImportCampaignDataToDataMart_2",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"RunId": "@activity('GetRunId').output.firstRow.RunId",
									"FilterStartDate": "@activity('GetDateFilterValues').output.StartDateFilter",
									"FilterEndDate": "@activity('GetDateFilterValues').output.EndDateFilter",
									"ParameterId": "@activity('GetProgramFilterValues').output.ProgramId",
									"FilterParameter": "createdAt"
								}
							}
						},
						{
							"name": "ExecuteImportCampaignDataToDataMart_2_updatedAt",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "ExecuteImportCampaignDataToDataMart_2_Latest",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "ImportCampaignDataToDataMart_2",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"RunId": "@activity('GetRunId').output.firstRow.RunId",
									"FilterStartDate": "@activity('GetDateFilterValues').output.StartDateFilter",
									"FilterEndDate": "@activity('GetDateFilterValues').output.EndDateFilter",
									"ParameterId": "@activity('GetProgramFilterValues').output.ProgramId",
									"FilterParameter": "updatedAt"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "ExecuteImportCampaignDataToDataMart_2_History",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "ImportCampaignDataToDataMart_2",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"RunId": "@activity('GetRunId').output.firstRow.RunId",
									"FilterStartDate": "@activity('GetDateFilterValues').output.StartDateFilter",
									"FilterEndDate": "@activity('GetDateFilterValues').output.EndDateFilter",
									"ParameterId": "@activity('GetProgramFilterValues').output.ProgramId",
									"FilterParameter": "createdAt"
								}
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}